<div>
  <h4><span class="text-gray">发送主题：</span><%= @mail.subject %></h4>
  <div>
    <span class="text-gray">发送邮箱：</span><span><%= @mail.sender %></span>
  </div>
  <div class="pbt10">
    <span class="text-gray">接收邮箱：</span><span><%= @mail.receiver %></span>
  </div>
</div>
<div class="mbt20">
  <div class="pbt10 text-gray">邮件内容：</div>
  <div><%= @mail.body %></div>
</div>
<div>
  <span class="plr10">
    <%= link_to "编辑", edit_local_email_path(@mail),class: "btn btn-default" %>
  </span>
  <span class="plr10">
    <%= link_to "删除", local_email_path(@mail),method: :delete, class: "btn btn-default", data: {confirm: "确认删除吗？"} %>
  </span>
  <span class="plr10">
    <% if @mail.is_send == 1 %>
        <%= link_to "已发送", "javascript:void(0)", class: "btn btn-default" %>
      <% elsif @mail.is_send == 2 %>
        <%= link_to "发送失败", send_mail_local_email_path(@mail), method: :post, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "立即发送", send_mail_local_email_path(@mail), method: :post, class: "btn btn-primary" %>
      <% end %>
  </span>

</div>
