<!DOCTYPE html>
<html>
  <head>
    <title>Mails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container">
    <h3 class="text-center mbt20">
      <%= link_to "邮件发送示例",root_path %>
    </h3>
    <%= yield %>
  </div>
  </body>
</html>
